/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 0.8s ease forwards;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #5b5a5a38;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    position: absolute;
    left: 20px;
}

.logo img {
    width: 210px;
}

nav ul {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

main {
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.365);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

h2,
summary {
    font-size: 18px;
    margin-bottom: 20px;
    color: #34d85b;
    border-bottom: 2px solid #28a745;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #ffffff;
}

li {
    color: rgb(189, 189, 189);
}

li strong {
    color: rgb(214, 213, 213);
}

section {
    margin-bottom: 40px;
}

section:last-child {
    margin-bottom: 0;
}

details {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

details[open] {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

summary {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    user-select: none;
}

footer {
    background-color: #ffffff38;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #c3e6cb;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    nav ul {
        flex-direction: row;
        gap: 15px;
    }

    main {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    main {
        padding: 25px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1179px) and (max-height: 2556px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        margin-bottom: 10px;
        position: static;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 45px;
        padding-top: 10px;
        margin-top: 10px;
        width: 100%;
    }

    .logo img {
        height: 50px;
        width: 210px;
    }

    nav ul {
        gap: 10px;
        padding: 0 20px;
        padding-right: 5px;
        padding-top: 30px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    nav ul li {
        font-size: 16px;
    }

    nav ul li a {
        padding: 8px 20px;
        font-size: 1rem;
        border-radius: 6px;
    }

    nav ul li a::before {
        bottom: 0;
        left: 0;
        transform-origin: left;
    }

    .container {
        padding: 15px;
    }

    main {
        margin: 20px 0;
        padding: 20px;
        font-size: 1rem;
    }

    h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    footer {
        padding: 20px 0;
        font-size: 0.9rem;
    }
}
