/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    font-size: 18px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #252525;
    color: white;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

nav ul {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    color: white;
    font-size: 1.4rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #218838;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #1e7e34;
}

/* Main Content Styles */
main {
    margin: 50px 0;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

li {
    color: rgb(151, 151, 151);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #28a745;
    border-bottom: 2px solid #28a745;
    padding-bottom: 10px;
}

.h2carousel {
    font-size: 1.5rem;
    text-align: center;
}

p {
    margin-bottom: 20px;
    line-height: 1.8;
    color: #cfcfcf;
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

section:last-child {
    margin-bottom: 0;
}

/* Button Styles */
a.button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #1e7e34;
}

/* Footer Styles */
footer {
    background-color: #484d49;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #c3e6cb;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

/* Media Queries */
@media (max-width: 1024px) {
    header h1 {
        font-size: 3rem;
    }

    nav ul {
        flex-direction: row;
        gap: 15px;
    }

    main {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 25px;
        font-size: 1.1rem;
    }
}

/* Disclaimer Styles */
.disclaimer {
    font-size: 0.9rem;
    color: #6c757d;
    font-style: italic;
    margin-top: 15px;
}

/* Carousel Styles */
.carousel {
    background-color: rgb(68, 68, 68);
    position: relative;
    width: 600px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    display: flex; /* Enable flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.carousel-container {
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.carousel-images img.active {
    display: block;
}

/* Button Styles for Carousel */
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}

.carousel button:hover {
    background-color: rgb(63, 63, 63);
}
