.links,
.links-large {
    color: rgb(159, 184, 252);
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.links:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.4) rotate(5deg) translateX(1rem);
}

.links-large:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.4) rotate(5deg) translateX(3rem);
}

form {
    background-color: #00000040;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

label {
    font-weight: bold;
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 8px;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
textarea:focus {
    border: 1px solid #34d85b;
    box-shadow: 0 0 6px rgba(52, 216, 91, 0.4);
    outline: none;
}

textarea {
    resize: none;
    height: 210px;
    grid-column: 2 / 3;
}

input[type="submit"] {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    grid-column: span 2;
    margin-top: 15px;
}

input[type="submit"]:hover {
    transform: translateY(-2px);
    background: linear-gradient(90deg, #6a11cb, #06ff6a, #6a11cb);
}

.form-left {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-left input {
    width: 100%;
}

.form-right {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
    }

    textarea {
        grid-column: span 1;
    }

    input[type="submit"] {
        grid-column: span 1;
    }
}

@media (max-width: 600px) {
    form {
        gap: 10px;
        padding: 20px;
    }

    input[type="submit"] {
        padding: 12px 0;
    }
}

@media only screen and (max-width: 1179px) and (max-height: 2556px) {
    form {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    textarea {
        height: 205px;
        width: 170px;
    }

    input[type="submit"] {
        padding: 12px 0;
        font-size: 1rem;
    }
}
